<link rel="import" href="../../assets/libs/polymer/polymer.html">
<link rel="import" href="../../assets/libs/paper-button/paper-button.html">
<link rel="import" href="../../assets/libs/paper-tabs/paper-tabs.html">
<link rel="import" href="../../assets/libs/paper-styles/paper-styles.html">
<link rel="import" href="../../assets/libs/paper-menu/paper-menu.html">
<link rel="import" href="../../assets/libs/iron-icon/iron-icon.html">
<link rel="import" href="../../assets/libs/iron-pages/iron-pages.html">
<link rel="import" href="../../assets/libs/paper-item/paper-item.html">

<dom-module id="sidebar-component">

    <template>
        <link rel="stylesheet" href="element.css">
        <div class="wrap">
            <paper-tabs selected="{{type}}" style="background-color: #70b58b;">
                <paper-tab>
                    <iron-icon icon="search" class="icon ion-ios-monitor">
                        <iron-meta id="meta" type="iconset" class="style-scope iron-icon"></iron-meta>
                    </iron-icon> Devices
                </paper-tab>
                <paper-tab>
                    <iron-icon icon="search" class="icon ion-ios-monitor">
                        <iron-meta id="meta" type="iconset" class="style-scope iron-icon"></iron-meta>
                    </iron-icon> Rooms
                </paper-tab>
            </paper-tabs>

            <iron-pages selected="{{type}}" style="color: #333;">
                <div>
                    <paper-menu style="background-color: transparent;" selected="{{selectedDevice}}" items="{{deviceList}}">
                        <template id="deviceList" is="dom-repeat" items={{deviceList}} as="device" >
                            <paper-item style="color: #000; border-bottom: 1px solid #DEDEDE;"> {{ device.name }}</paper-item>
                        </template>
                    </paper-menu>
                    <p>{{selectedDevice}}</p>
                    <paper-button on-click="addDevice" elevation="1" style="background-color: #CCC; width: 97%;">
                          <iron-icon icon="search" class="icon ion-ios-monitor">
                            <iron-meta id="meta" type="iconset" class="style-scope iron-icon"></iron-meta>
                        </iron-icon> Add Devices
                  </paper-button>
                </div>
                <div>
                    <template is="dom-repeat" items={{roomList}} as="room" >
                        <paper-item style="color: #000; border-bottom: 1px solid #DEDEDE;"> {{ room.name }}</paper-item>
                    </template>
                </div>

            </iron-pages>
            <content on-click="addDevice"></content>
        </div>
    </template>

    <script>
    Polymer({
        is: "sidebar-component",
        properties: {
            selectedDevice: {
                type: Number,
                value: 0
            },
            type: {
                type: Number,
                value: 1
            }
        },

        addDevice : function() {
            this.push('deviceList',
                {
                    name : "NEW DEVICE",
                    id   : "RANDOM ID",
                    type : "TV"
                }
            );
        },

        /*  Provides default data dor element.
         *  Will at a later point be obtained from Go REST server
         *
         */
        ready : function() {
            this.deviceList = [
                {
                    name : "unit 1",
                    id   : "22",
                    type : "TV"
                },
                {
                    name : "unit 1",
                    id   : "23",
                    type : "TV"
                },
                {
                    name : "unit 1",
                    id   : "24",
                    type : "TV"
                }
            ];

            this.roomList = [
                {
                    name : "Room 1",
                    rid   : "34",
                    type : "TV"
                },
                {
                    name : "Room 2",
                    rid   : "345",
                    type : "TV"
                },
                {
                    name : "Room 3",
                    rid   : "36",
                    type : "TV"
                }
            ]
        }
      });
    </script>

</dom-module>
