<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">

<dom-module id="sidebar-component">

    <template>
        <style>
            paper-tabs .active {
                background-color: #47aa57;
            }
        </style>
        <div class="wrap">
            <paper-tabs class="paper-tabs" selected="{{type}}" style="background-color: #70b58b; height:64px;" selected-class="active">
                <paper-tab>
                    <iron-icon icon="search" class="icon ion-ios-monitor">
                        <iron-meta id="meta" type="iconset" class="style-scope iron-icon"></iron-meta>
                    </iron-icon> Devices
                </paper-tab>
                <paper-tab>
                    <iron-icon icon="search" class="icon ion-ios-monitor">
                        <iron-meta id="meta" type="iconset" class="style-scope iron-icon"></iron-meta>
                    </iron-icon> Rooms
                </paper-tab>
            </paper-tabs>

            <!--// TODO: Fix color theme -->
            <iron-pages selected="{{type}}" style="color: #333; background-color: transparent;">
                <div >
                    <paper-menu style="background-color: #FFF;" selected="{{selectedElement}}" items="{{data.deviceList}}">
                        <template id="deviceList" is="dom-repeat" items={{data.deviceList}} as="device" >
                            <paper-item style="color: #000; border-bottom: 1px solid #EFEFEF;"> {{ device.name }}</paper-item>
                        </template>
                    </paper-menu>
                    <paper-button on-click="addDevice" elevation="1" style="background-color: #CCC; width: 97%;">
                          <iron-icon icon="search" class="icon ion-ios-monitor">
                            <iron-meta id="meta" type="iconset" class="style-scope iron-icon"></iron-meta>
                        </iron-icon> Add Devices
                  </paper-button>
                </div>
                <div>
                    <paper-menu style="background-color: #FFF;" selected="{{selectedElement}}" items="{{data.roomList}}">
                        <template is="dom-repeat" items={{data.roomList}} as="room" >
                            <paper-item style="color: #000; border-bottom: 1px solid #EFEFEF;"> {{ room.name }}</paper-item>
                        </template>
                    </paper-menu>
                </div>

            </iron-pages>
            <content on-click="addDevice"></content>
        </div>
    </template>

    <script>
    Polymer({
        is: "sidebar-component",
        properties: {
            selectedElement: {
                type: Number,
                notify : true
            },
            type: {
                type: Number,
                value: 1,
                notify: true
            },
            data : {
                type: Object,
                notify: true
            }
        },

        addDevice : function() {
            this.push('data.deviceList',
                {
                    name : "NEW DEVICE",
                    id   : "RANDOM ID",
                    type : "TV"
                }
            );
        }
      });
    </script>

</dom-module>
