<link rel="import" href="../../assets/libs/polymer/polymer.html">
<link rel="import" href="../../components/sidebar-component/sidebar-component.html">

<dom-module id="control-view">
    <template>
        <sidebar-component selected-device="{{objectID}}" type="{{type}}"></sidebar-component>
            <p>{{objectID}}</p>
    </template>
    <script>
        Polymer({
            is : 'control-view',
            properties : {
                objectID : {
                    type: Number,
                    value: 0,
                    notify: true
                },
                type : {
                    type: Number,
                    value : 1,
                    notify: true
                }
            }
        })
    </script>
</dom-module>
