<link rel="import" href="../../assets/libs/polymer/polymer.html">
<link rel="import" href="../sidebar-component/sidebar-component.html">
<link rel="import" href="../control-main-panel/control-main-panel.html">
<link rel="import" href="../../assets/libs/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../assets/libs/iron-ajax/iron-ajax.html">
<dom-module id="control-view">
    <template>
        <paper-drawer-panel style="background-color: #EEE;">
            <sidebar-component drawer selected-element="{{objectID}}" type="{{type}}" data="{{data}}" elevation="1"></sidebar-component>
            <control-main-panel main selected-data="{{selectedElement}}" ></control-main-panel>

        </paper-drawer-panel>
        <iron-ajax
            auto
            url="http://nodeatnight.mybluemix.net/testing"
            handle-as="json"
            on-response="handleResponse"
            last-response="{{response}}"
            debounce-duration="300">

        </iron-ajax>
    </template>
    <script>
        Polymer({
            is : 'control-view',
            properties : {
                objectID : {
                    type: Number,
                    value: 0,
                    observer: '_selectedIndexChanged'
                },
                type : {
                    type: Number,
                    value : 1,
                    notify: true
                }
            },

            handleResponse : function(newValue) {
                console.log(this.response);
            },

            // Handle selection changed
            // Triggers mein view change
            _selectedIndexChanged : function(newValue) {
                console.log("WOLF");
                // Stop function if passed value was undefined
                if(typeof newValue === 'undefined') {
                    return;
                }
                if(this.type === 0) {
                    this.selectedElement = this.data.deviceList[this.objectID];
                }

                if(this.type === 1) {
                    this.selectedElement = this.data.roomList[this.objectID];
                }

                if(typeof this.selectedElement !== 'undefined') {
                    console.log("[DEBUG]" + this.selectedElement.name);
                }
            },

            /*  Provides default data dor element.
             *  Will at a later point be obtained from Go REST server
             *
             */
            ready : function() {
                this.data = {
                    deviceList : [
                    {
                        name : "unit 1",
                        id   : "22",
                        type : "TV",
                        content: {
                            text : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente nesciunt neque consequatur rerum nisi blanditiis ipsa? Soluta debitis pariatur iste eum reiciendis unde, nisi error tenetur consectetur voluptates rem?"
                        }
                    },
                    {
                        name : "unit 2",
                        id   : "23",
                        type : "TV"
                    },
                    {
                        name : "unit 3",
                        id   : "24",
                        type : "TV"
                    }],
                    roomList : [
                    {
                        name : "Room 1",
                        rid   : "34",
                        type : "TV"
                    },
                    {
                        name : "Room 2",
                        rid   : "345",
                        type : "TV"
                    },
                    {
                        name : "Room 3",
                        rid   : "36",
                        type : "TV"
                    }]
                }
            }
        })
    </script>
</dom-module>
