<link rel="import" href="../../assets/libs/polymer/polymer.html">
<link rel="import" href="../../assets/libs/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../assets/libs/paper-card/paper-card.html">


<dom-module id="control-main-panel">
    <template>
        <paper-header-panel >

        </paper-header-panel>
        <div style="margin: 15px;">
            <paper-card heading="First TEST" style="width:100%;">
                <div class="card-content" style="color: #444;">[[selectedData.content.text]]client v. 0.0.1rev14</div>
            </paper-card>
            <template is="dom-repeat" items="{{devices}}">
                <paper-card heading="{{item.name}} #{{item.id}}" style="width:100%; margin-top: 15px;">
                    <div class="card-content" style="color: #444;"></div>
                    <div class="card-actions">
                        <paper-button style="color: #000;" data-did="{{item.id}}" on-tap="handleToggleDevice">Toggle Light</paper-button>
                    </div>
                </paper-card>
            </template>
        </div>

        <iron-ajax
            id="testAjax"
            method="GET"
            url="/test"
            handle-as="json"
            last-response="{{serverData}}"
            on-response="handleTestData"></iron-ajax>
    </template>
    <script>
        Polymer({
            is : 'control-main-panel',
            properties : {
                selectedData : {
                    type: Object,
                    observer: '_selectedIndexChanged'
                }
            },

            ready: function() {
                this.devices = [{
                    id : 1,
                    name :'Sterio System',
                    status : 0
                },
                {
                    id : 2,
                    name :'Desk',
                    status : 0
                },
                {
                    id : 3,
                    name :'Lamp 1',
                    status : 0
                }];
            },
            // Handle selection changed
            // Triggers mein view change
            _selectedIndexChanged : function(newValue) {
                console.log("value changed " + newValue);
            },

            handleToggleDevice : function(evt) {
                var device = evt.model.item;

                console.log(deviceList, evt.target);

                // Reverse current device state
                if(device.status) {
                    device.status = 0;
                }
                else {
                    device.status = 1;
                }

                var ajaxRequest = this.$.testAjax;

                // Compose request URL
                ajaxRequest.url = "/test/"+ device.id + "/" + device.status;

                // Send request to server
                ajaxRequest.generateRequest();
            },
            handleTestData : function(data) {
                console.log("Server data", data, this.serverData);
            }
        })
    </script>
</dom-module>
