<link rel="import" href="../../assets/libs/polymer/polymer.html">
<link rel="import" href="../../assets/libs/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../assets/libs/paper-card/paper-card.html">


<dom-module id="control-main-panel">
    <template>
        <paper-header-panel >

        </paper-header-panel>
        <div style="margin: 15px;">
            <paper-card heading="First TEST" style="width:100%;">
                <div class="card-content" style="color: #444;">[[selectedData.content.text]]client v. 0.0.1rev14</div>
            </paper-card>
            <paper-card heading="Sterio System" style="width:100%; margin-top: 15px;">
                <div class="card-content" style="color: #444;"></div>
                <div class="card-actions">
                    <paper-button style="color: #000;" data-id="1" on-tap="handleToggleDevice">Toggle Light</paper-button>
                </div>
            </paper-card>
            <paper-card heading="Desk" style="width:100%; margin-top: 15px;">
                <div class="card-content" style="color: #444;"></div>
                <div class="card-actions">
                    <paper-button style="color: #000;" data-id="2" on-tap="handleToggleDevice">Toggle Light</paper-button>
                </div>
            </paper-card>
            <paper-card heading="Lamp 1" style="width:100%; margin-top: 15px;">
                <div class="card-content" style="color: #444;"></div>
                <div class="card-actions">
                    <paper-button style="color: #000;" data-id="3" on-tap="handleToggleDevice">Toggle Light</paper-button>
                </div>
            </paper-card>
        </div>

        <iron-ajax
            id="testAjax"
            method="GET"
            url="/test"
            handle-as="json"
            last-response="{{serverData}}"
            on-response="handleTestData"></iron-ajax>
    </template>
    <script>
        var deviceStates = [{
            status : 1
        }];

        Polymer({
            is : 'control-main-panel',
            properties : {
                selectedData : {
                    type: Object,
                    observer: '_selectedIndexChanged'
                }
            },

            // Handle selection changed
            // Triggers mein view change
            _selectedIndexChanged : function(newValue) {
                console.log("value changed " + newValue);
            },

            handleToggleDevice : function(evt) {
                var ajaxRequest = this.$.testAjax;
                // Reverse current device state
                if(deviceStates[0].status) {
                    deviceStates[0].status = 0;
                }
                else {
                    deviceStates[0].status = 1;
                }

                // Now get device ID to pass to server
                var id = evt.target.getAttribute('data-id');

                // Compose request URL
                ajaxRequest.url = "/test/"+ id + "/" + deviceStates[0].status;

                // Send request to server
                ajaxRequest.generateRequest();
            },
            handleTestData : function(data) {
                console.log("Server data", data, this.serverData);
            }
        })
    </script>
</dom-module>
